* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-color: #193050;
  --secondary-color: #8dc891;
  --terinary-color: #ffd88a;
  --color4: #00d8ff;
  --gray-500: #aab4bc;
  --gray-400: #bdc4cb;
  --gray-200: #dde1e4;
  --white: #ffffff;
  --bgcolor: #d9f7ec;

  /* mediqueries */

  /* widths */
  --xs: 0;
  --sm: 600px;
  --md: 900px;
  --lg: 1250px;
  --xl: 1520px;

  /* paddings for main Container */

  --padding-xs-sm: 24px;
  --padding-sm-md: 48px;
  --padding-md-lg: 82px;
  --padding-lg-xl: 120px;
  --padding-xl: 260px;

  --p001: 4px;
  --p002: 8px;
  --p003: 16px;
  --p004: 24px;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Width of scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #6b705c; /* Scrollbar color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b705c; /* Scrollbar color on hover */
}
