* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Width of scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #6b705c; /* Scrollbar color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b705c; /* Scrollbar color on hover */
}
